# H2O

H2O genera un cluster con los nodos que nosotros le pongamos, con
la memoria que nosotros asignemos. 

Ese cluster trabaja todo y lo hace de manera más óptima, más rápida.

Es una manera de trabajar con muchos datos si tenemos problemas de memoria con un rendimiento un poco mejor 

Pero lo normal es que cuando vais a trabajar a un lado os habiliten o una gpu o un servidor en azure un algo donde vosotros podéis trabajar Lo tenéis que estar pasando las canutas con vuestro 16 gigas de ram

Librería programada en Java 100% 

Nos ayuda a optimizar todos los procesos que queramos hacer y
sobre todo los que son costosos de memoria

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from pandas.plotting import scatter_matrix
from sklearn.feature_selection import VarianceThreshold
from sklearn.metrics import accuracy_score, auc, confusion_matrix, f1_score, precision_score, recall_score, roc_curve
from sklearn.feature_selection import SelectKBest
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import cross_val_score

!pip install h2o

In [2]:
import h2o
from h2o.estimators import H2ORandomForestEstimator

Lo levantamos en local y le decimos que utilice todos los recursos de la máquina para crearlo

Le dedicamos 4 gigas de memoria pra no quedarnos sin recursos

In [3]:
# Creación de un cluster local H2O
# ------------------------------------------------------------------------------
h2o.init(ip = "localhost",
         # -1 indica que se empleen todos los cores disponibles.
         nthreads = -1,
         # Máxima memoria disponible para el cluster.
         max_mem_size = "4g")

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
; Java HotSpot(TM) 64-Bit Server VM (build 25.301-b09, mixed mode)
  Starting server from C:\Python38\Lib\site-packages\h2o\backend\bin\h2o.jar
  Ice root: C:\Users\cx02202\AppData\Local\Temp\tmp7ff55zz8
  JVM stdout: C:\Users\cx02202\AppData\Local\Temp\tmp7ff55zz8\h2o_cx02202_started_from_python.out
  JVM stderr: C:\Users\cx02202\AppData\Local\Temp\tmp7ff55zz8\h2o_cx02202_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ------------------------------
H2O_cluster_uptime:         09 secs
H2O_cluster_timezone:       Europe/Paris
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.38.0.4
H2O_cluster_version_age:    1 month and 12 days
H2O_cluster_name:           H2O_from_python_cx02202_zizfdg
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.556 Gb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  8
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.8.3 final
--------------------------  ------------------------------

#### Se eliminan los datos del cluster por si ya había sido iniciado.

Si ya lo has creado, y lo quieres reiniciar borrando todo lo que hay.


h2o.remove_all()

In [5]:
df_bank=pd.read_csv('../bank-full.csv', sep=';')

In [7]:
df_bank.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

Convertimos df_bank en un Dataframe de H2O

In [6]:
df_bank_h2o = h2o.H2OFrame(python_obj = df_bank, destination_frame = "df_bank_h2o")

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

In [12]:
df_bank_h2o.head()

  age  job           marital    education    default      balance  housing    loan    contact      day  month      duration    campaign    pdays    previous  poutcome    y
-----  ------------  ---------  -----------  ---------  ---------  ---------  ------  ---------  -----  -------  ----------  ----------  -------  ----------  ----------  ---
   58  management    married    tertiary     no              2143  yes        no      unknown        5  may             261           1       -1           0  unknown     no
   44  technician    single     secondary    no                29  yes        no      unknown        5  may             151           1       -1           0  unknown     no
   33  entrepreneur  married    secondary    no                 2  yes        yes     unknown        5  may              76           1       -1           0  unknown     no
   47  blue-collar   married    unknown      no              1506  yes        no      unknown        5  may              92           1       -1           0  unknown     no
   33  unknown       single     unknown      no                 1  no         no      unknown        5  may             198           1       -1           0  unknown     no
   35  management    married    tertiary     no               231  yes        no      unknown        5  may             139           1       -1           0  unknown     no
   28  management    single     tertiary     no               447  yes        yes     unknown        5  may             217           1       -1           0  unknown     no
   42  entrepreneur  divorced   tertiary     yes                2  yes        no      unknown        5  may             380           1       -1           0  unknown     no
   58  retired       married    primary      no               121  yes        no      unknown        5  may              50           1       -1           0  unknown     no
   43  technician    single     secondary    no               593  yes        no      unknown        5  may              55           1       -1           0  unknown     no
[10 rows x 17 columns]

In [14]:
df_bank_h2o.shape

(45211, 17)

In [16]:
df_bank_h2o.col_names

['age',
 'job',
 'marital',
 'education',
 'default',
 'balance',
 'housing',
 'loan',
 'contact',
 'day',
 'month',
 'duration',
 'campaign',
 'pdays',
 'previous',
 'poutcome',
 'y']

In [18]:
df_bank_h2o.describe()

Rows:45211
Cols:17

         age                job           marital    education    default    balance             housing    loan    contact    day                 month    duration           campaign            pdays              previous            poutcome    y
-------  -----------------  ------------  ---------  -----------  ---------  ------------------  ---------  ------  ---------  ------------------  -------  -----------------  ------------------  -----------------  ------------------  ----------  ----
type     int                enum          enum       enum         enum       int                 enum       enum    enum       int                 enum     int                int                 int                int                 enum        enum
mins     18.0                                                                -8019.0                                           1.0                          0.0                1.0                 -1.0               0.0
mean     40.93621021432809                                                   1362.272057685082                                 15.806418791886935           258.1630797814693  2.7638406582468984  40.1978279622216   0.5803233726305563
maxs     95.0                                                                102127.0                                          31.0                         4918.0             63.0                871.0              275.0
sigma    10.61876204097539                                                   3044.7658291685234                                8.32247615304459             257.5278122651711  3.0980208832791796  100.1287459905981  2.303441044931215
zeros    0                                                                   3514                                              0                            3                  0                   0                  36954
missing  0                  0             0          0            0          0                   0          0       0          0                   0        0                  0                   0                  0                   0           0
0        58.0               management    married    tertiary     no         2143.0              yes        no      unknown    5.0                 may      261.0              1.0                 -1.0               0.0                 unknown     no
1        44.0               technician    single     secondary    no         29.0                yes        no      unknown    5.0                 may      151.0              1.0                 -1.0               0.0                 unknown     no
2        33.0               entrepreneur  married    secondary    no         2.0                 yes        yes     unknown    5.0                 may      76.0               1.0                 -1.0               0.0                 unknown     no
3        47.0               blue-collar   married    unknown      no         1506.0              yes        no      unknown    5.0                 may      92.0               1.0                 -1.0               0.0                 unknown     no
4        33.0               unknown       single     unknown      no         1.0                 no         no      unknown    5.0                 may      198.0              1.0                 -1.0               0.0                 unknown     no
5        35.0               management    married    tertiary     no         231.0               yes        no      unknown    5.0                 may      139.0              1.0                 -1.0               0.0                 unknown     no
6        28.0               management    single     tertiary     no         447.0               yes        yes     unknown    5.0                 may      217.0              1.0                 -1.0               0.0                 unknown     no
7        42.0               entrepreneur  divorced   tertiary     yes        2.0                 yes        no      unknown    5.0                 may      380.0              1.0                 -1.0               0.0                 unknown     no
8        58.0               retired       married    primary      no         121.0               yes        no      unknown    5.0                 may      50.0               1.0                 -1.0               0.0                 unknown     no
9        43.0               technician    single     secondary    no         593.0               yes        no      unknown    5.0                 may      55.0               1.0                 -1.0               0.0                 unknown     no
[45211 rows x 17 columns]

In [19]:
df_bank_h2o['marital'].table()

marital      Count
---------  -------
divorced      5207
married      27214
single       12790
[3 rows x 2 columns]

### Muestreo

In [32]:
df_bank_train_h2o, df_bank_test_h2o = df_bank_h2o.split_frame(ratios=[0.8],destination_frames= ["df_bank_train_h2o",
                                                        "df_bank_test_h2o"],
                                                        seed = 123)

H2OGradientBoostingEstimator(fold_assignment = assignment_type, nfolds = 5, seed = 1234)

In [29]:
df_bank_train_h2o.shape

(36227, 17)

In [37]:
df_bank_train_h2o.drop('y')

  age  job           marital    education    default      balance  housing    loan    contact      day  month      duration    campaign    pdays    previous  poutcome
-----  ------------  ---------  -----------  ---------  ---------  ---------  ------  ---------  -----  -------  ----------  ----------  -------  ----------  ----------
   58  management    married    tertiary     no              2143  yes        no      unknown        5  may             261           1       -1           0  unknown
   44  technician    single     secondary    no                29  yes        no      unknown        5  may             151           1       -1           0  unknown
   33  entrepreneur  married    secondary    no                 2  yes        yes     unknown        5  may              76           1       -1           0  unknown
   47  blue-collar   married    unknown      no              1506  yes        no      unknown        5  may              92           1       -1           0  unknown
   33  unknown       single     unknown      no                 1  no         no      unknown        5  may             198           1       -1           0  unknown
   35  management    married    tertiary     no               231  yes        no      unknown        5  may             139           1       -1           0  unknown
   28  management    single     tertiary     no               447  yes        yes     unknown        5  may             217           1       -1           0  unknown
   42  entrepreneur  divorced   tertiary     yes                2  yes        no      unknown        5  may             380           1       -1           0  unknown
   41  admin.        divorced   secondary    no               270  yes        no      unknown        5  may             222           1       -1           0  unknown
   29  admin.        single     secondary    no               390  yes        no      unknown        5  may             137           1       -1           0  unknown
[36227 rows x 16 columns]

In [28]:
df_bank_test_h2o.shape

(8984, 17)

### Modelos

In [35]:
model_h2o = H2ORandomForestEstimator(ntrees=10,
                                    max_depth=5,
                                    min_rows=10,
                                    calibrate_model=True,
                                    calibration_frame=df_bank_test_h2o,
                                    binomial_double_trees=True)

In [45]:
df_bank_train_h2o['y'].asfactor()

y
---
no
no
no
no
no
no
no
no
no
no
[36227 rows x 1 column]

In [46]:
df_bank_train_h2o.drop('y').col_names

['age',
 'job',
 'marital',
 'education',
 'default',
 'balance',
 'housing',
 'loan',
 'contact',
 'day',
 'month',
 'duration',
 'campaign',
 'pdays',
 'previous',
 'poutcome']

In [47]:
model_h2o.train(x=df_bank_train_h2o.drop('y').col_names,
               y='y',
               training_frame=df_bank_train_h2o,
               validation_frame=df_bank_test_h2o)

drf Model Build progress: |██████████████████████████████████████████████████████| (done) 100%

Model Details
=============
H2ORandomForestEstimator : Distributed Random Forest
Model Key: DRF_model_python_1675340086299_1


Model Summary:
    number_of_trees    number_of_internal_trees    model_size_in_bytes    min_depth    max_depth    mean_depth    min_leaves    max_leaves    mean_leaves
--  -----------------  --------------------------  ---------------------  -----------  -----------  ------------  ------------  ------------  -------------
    10                 20                          8613                   5            5            5             26            32            29.65

ModelMetricsBinomial: drf
** Reported on train data. **

MSE: 0.07143322908577195
RMSE: 0.2672699554491151
LogLoss: 0.24150543139577066
Mean Per-Class Error: 0.19078149158071428
AUC: 0.8939062495083637
AUCPR: 0.5586624659180423
Gini: 0.7878124990167275

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.19247724995076962
       no     yes    Error    Rate
-----  -----  -----  -------  ----------------
no     28354  3277   0.1036   (3277.0/31631.0)
yes    1173   3047   0.278    (1173.0/4220.0)
Total  29527  6324   0.1241   (4450.0/35851.0)

Maximum Metrics: Maximum metrics at their respective thresholds
metric                       threshold    value     idx
---------------------------  -----------  --------  -----
max f1                       0.192477     0.577959  231
max f2                       0.133023     0.675551  264
max f0point5                 0.403091     0.561123  137
max accuracy                 0.413872     0.900449  132
max precision                1            1         0
max recall                   0.00644424   1         397
max specificity              1            1         0
max absolute_mcc             0.18406      0.523068  235
max min_per_class_accuracy   0.11135      0.824645  278
max mean_per_class_accuracy  0.10683      0.825293  281
max tns                      1            31631     0
max fns                      1            4219      0
max fps                      0.00274657   31631     399
max tps                      0.00644424   4220      397
max tnr                      1            1         0
max fnr                      1            0.999763  0
max fpr                      0.00274657   1         399
max tpr                      0.00644424   1         397

Gains/Lift Table: Avg response rate: 11,77 %, avg score: 11,62 %
group    cumulative_data_fraction    lower_threshold    lift       cumulative_lift    response_rate    score      cumulative_response_rate    cumulative_score    capture_rate    cumulative_capture_rate    gain      cumulative_gain    kolmogorov_smirnov
-------  --------------------------  -----------------  ---------  -----------------  ---------------  ---------  --------------------------  ------------------  --------------  -------------------------  --------  -----------------  --------------------
1        0.0100202                   0.678265           6.85766    6.85766            0.807163         0.739772   0.807163                    0.739772            0.0687148       0.0687148                  585.766   585.766            0.0665248
2        0.0200127                   0.58474            6.45415    6.65619            0.759669         0.626091   0.783448                    0.68301             0.0644934       0.133208                   545.415   565.619            0.128296
3        0.0300052                   0.529391           5.11638    6.14339            0.60221          0.553454   0.723091                    0.639864            0.0511257       0.184334                   411.638   514.339            0.174917
4        0.0400254                   0.496787           4.58738    5.75385            0.539945         0.512777   0.677241                    0.608049            0.0459662       0.2303                     358.738   475.385            0.215658
5        0.0500179                   0.470195           4.52964    5.50928            0.533149         0.483822   0.648455                    0.583231            0.0452627       0.275563                   352.964   450.928            0.255634
6        0.100008                    0.366805           4.30196    4.90579            0.50635          0.417356   0.577422                    0.500316            0.215056        0.490619                   330.196   390.579            0.44272
7        0.149999                    0.245975           3.16665    4.32618            0.372722         0.310354   0.509201                    0.437007            0.158302        0.648921                   216.665   332.618            0.565481
8        0.200017                    0.152067           2.24591    3.80597            0.264349         0.193858   0.447971                    0.376203            0.112336        0.761257                   124.591   280.597            0.636112
9        0.299997                    0.0880292          0.96407    2.85884            0.113473         0.113447   0.336492                    0.288634            0.0963884       0.857645                   -3.593    185.884            0.632041
10       0.400006                    0.065618           0.53701    2.27835            0.0632073        0.0756663  0.268166                    0.235388            0.0537054       0.911351                   -46.299   127.835            0.579561
11       0.500014                    0.053007           0.269677   1.87659            0.0317417        0.0589661  0.220879                    0.200102            0.02697         0.938321                   -73.0323  87.659             0.496779
12       0.600022                    0.0444906          0.208707   1.5986             0.0245653        0.0486092  0.188158                    0.174852            0.0208724       0.959193                   -79.1293  59.8597            0.407086
13       0.70003                     0.0362355          0.126631   1.38831            0.0149048        0.0401065  0.163407                    0.155602            0.0126642       0.971857                   -87.3369  38.8308            0.30809
14       0.800011                    0.0295306          0.0774071  1.22448            0.00911099       0.0329207  0.144124                    0.14027             0.00773921      0.979597                   -92.2593  22.4479            0.203543
15       0.899992                    0.0218197          0.0680244  1.09601            0.00800663       0.0256318  0.129003                    0.127535            0.00680113      0.986398                   -93.1976  9.60076            0.097933
16       1                           0                  0.136011   1                  0.0160088        0.0139023  0.117702                    0.116171            0.0136023       1                          -86.3989  0                  0

ModelMetricsBinomial: drf
** Reported on validation data. **

MSE: 0.0705989083637214
RMSE: 0.26570455089012196
LogLoss: 0.23787202839695923
Mean Per-Class Error: 0.20949267434626853
AUC: 0.9044257919397889
AUCPR: 0.5473762198555296
Gini: 0.8088515838795778

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.23520679816943202
       no    yes    Error    Rate
-----  ----  -----  -------  ---------------
no     7210  749    0.0941   (749.0/7959.0)
yes    333   692    0.3249   (333.0/1025.0)
Total  7543  1441   0.1204   (1082.0/8984.0)

Maximum Metrics: Maximum metrics at their respective thresholds
metric                       threshold    value     idx
---------------------------  -----------  --------  -----
max f1                       0.235207     0.561233  215
max f2                       0.104654     0.6843    297
max f0point5                 0.389279     0.545915  135
max accuracy                 0.445154     0.901158  104
max precision                0.785893     1         0
max recall                   0.0226382    1         394
max specificity              0.785893     1         0
max absolute_mcc             0.159114     0.509027  257
max min_per_class_accuracy   0.116444     0.834146  286
max mean_per_class_accuracy  0.104654     0.839097  297
max tns                      0.785893     7959      0
max fns                      0.785893     1024      0
max fps                      0.0162114    7959      399
max tps                      0.0226382    1025      394
max tnr                      0.785893     1         0
max fnr                      0.785893     0.999024  0
max fpr                      0.0162114    1         399
max tpr                      0.0226382    1         394

Gains/Lift Table: Avg response rate: 11,41 %, avg score: 11,85 %
group    cumulative_data_fraction    lower_threshold    lift        cumulative_lift    response_rate    score      cumulative_response_rate    cumulative_score    capture_rate    cumulative_capture_rate    gain      cumulative_gain    kolmogorov_smirnov
-------  --------------------------  -----------------  ----------  -----------------  ---------------  ---------  --------------------------  ------------------  --------------  -------------------------  --------  -----------------  --------------------
1        0.0100178                   0.668704           7.10929     7.10929            0.811111         0.711053   0.811111                    0.711053            0.0712195       0.0712195                  610.929   610.929            0.0690836
2        0.0200356                   0.576394           6.33019     6.71974            0.722222         0.622608   0.766667                    0.66683             0.0634146       0.134634                   533.019   571.974            0.129357
3        0.0300534                   0.496914           5.16154     6.20034            0.588889         0.530278   0.707407                    0.621313            0.0517073       0.186341                   416.154   520.034            0.176416
4        0.0401825                   0.478635           5.20114     5.94846            0.593407         0.486699   0.67867                     0.58738             0.0526829       0.239024                   420.114   494.846            0.22445
5        0.0502004                   0.456578           4.18766     5.59708            0.477778         0.467311   0.638581                    0.563419            0.0419512       0.280976                   318.766   459.708            0.260496
6        0.100067                    0.365466           4.01071     4.80655            0.457589         0.409432   0.548387                    0.486683            0.2             0.480976                   301.071   380.655            0.429964
7        0.150156                    0.258636           3.07745     4.22975            0.351111         0.315887   0.48258                     0.429709            0.154146        0.635122                   207.745   322.975            0.547422
8        0.200022                    0.162675           2.58251     3.81909            0.294643         0.204145   0.435726                    0.373474            0.12878         0.763902                   158.251   281.909            0.636499
9        0.300089                    0.092912           1.2577      2.96497            0.143493         0.116152   0.338279                    0.287668            0.125854        0.889756                   25.7697   196.497            0.665607
10       0.400045                    0.0676171          0.488022    2.34608            0.0556793        0.0792021  0.267668                    0.235581            0.0487805       0.938537                   -51.1978  134.608            0.607842
11       0.500223                    0.0534604          0.38955     1.95425            0.0444444        0.0596815  0.222964                    0.200354            0.0390244       0.977561                   -61.045   95.4252            0.538812
12       0.620436                    0.0469939          0.0811563   1.59133            0.00925926       0.0489581  0.181557                    0.17102             0.0097561       0.987317                   -91.8844  59.1327            0.414129
13       0.701581                    0.0408226          0.0601158   1.41423            0.00685871       0.0443718  0.161352                    0.156372            0.00487805      0.992195                   -93.9884  41.4228            0.328041
14       0.808994                    0.0329337          0.0363311   1.23128            0.00414508       0.0366119  0.140479                    0.140471            0.00390244      0.996098                   -96.3669  23.128             0.2112
15       0.900267                    0.0251248          0.0320666   1.1097             0.00365854       0.0297784  0.126607                    0.129248            0.00292683      0.999024                   -96.7933  10.9698            0.111476
16       1                           0.0161609          0.00978223  1                  0.00111607       0.021242   0.114092                    0.118477            0.00097561      1                          -99.0218  0                  0

Scoring History:
    timestamp            duration    number_of_trees    training_rmse    training_logloss    training_auc    training_pr_auc    training_lift    training_classification_error    validation_rmse    validation_logloss    validation_auc    validation_pr_auc    validation_lift    validation_classification_error
--  -------------------  ----------  -----------------  ---------------  ------------------  --------------  -----------------  ---------------  -------------------------------  -----------------  --------------------  ----------------  -------------------  -----------------  ---------------------------------
    2023-02-02 13:30:53  0.096 sec   0                  nan              nan                 nan             nan                nan              nan                              nan                nan                   nan               nan                  nan                nan
    2023-02-02 13:30:53  0.384 sec   1                  0.280014         0.268267            0.849241        0.480156           6.17892          0.156259                         0.281748           0.271658              0.839241          0.460326             6.78571            0.177315
    2023-02-02 13:30:53  0.563 sec   2                  0.275847         0.261982            0.856865        0.496233           6.18528          0.122458                         0.272369           0.252731              0.873256          0.507551             6.83853            0.129007
    2023-02-02 13:30:53  0.693 sec   3                  0.273401         0.258353            0.861541        0.515541           6.53188          0.119483                         0.269479           0.24604               0.886282          0.517068             6.52496            0.131233
    2023-02-02 13:30:53  0.842 sec   4                  0.272013         0.255148            0.866094        0.517499           6.5768           0.116736                         0.2687             0.244949              0.886471          0.524522             7.03117            0.127671
    2023-02-02 13:30:53  0.940 sec   5                  0.270981         0.25094             0.87052         0.531642           6.74546          0.119594                         0.267678           0.242841              0.891153          0.532366             6.91451            0.132569
    2023-02-02 13:30:53  1.041 sec   6                  0.26963          0.247773            0.87579         0.537749           6.83426          0.118434                         0.266786           0.240672              0.895102          0.540203             6.91451            0.123442
    2023-02-02 13:30:54  1.132 sec   7                  0.26987          0.248665            0.876042        0.537927           6.85766          0.120623                         0.267357           0.242456              0.894588          0.53841              6.81713            0.123776
    2023-02-02 13:30:54  1.230 sec   8                  0.268466         0.245433            0.882867        0.547942           6.97469          0.126552                         0.26639            0.240123              0.899272          0.542781             6.91451            0.12077
    2023-02-02 13:30:54  1.308 sec   9                  0.268196         0.244061            0.887604        0.5501             6.90447          0.1228                           0.266474           0.239921              0.901241          0.543618             7.10929            0.128673
    2023-02-02 13:30:54  1.403 sec   10                 0.26727          0.241505            0.893906        0.558662           6.85766          0.124125                         0.265705           0.237872              0.904426          0.547376             7.10929            0.120436

Variable Importances:
variable    relative_importance    scaled_importance    percentage
----------  ---------------------  -------------------  ------------
duration    7219.13                1                    0.485563
poutcome    2778.59                0.384893             0.18689
month       2662.56                0.36882              0.179085
pdays       622.595                0.0862424            0.0418761
age         408.036                0.0565216            0.0274448
previous    303.018                0.0419743            0.0203812
contact     258.187                0.0357642            0.0173658
housing     244.099                0.0338127            0.0164182
job         199.494                0.0276341            0.0134181
day         79.2044                0.0109715            0.00532734
education   22.774                 0.00315467           0.00153179
marital     20.62                  0.00285631           0.00138692
balance     18.9653                0.00262709           0.00127562
loan        17.4897                0.00242269           0.00117637
campaign    12.3966                0.00171719           0.000833803
default     0.373318               5.17123e-05          2.51096e-05

[tips]
Use `model.explain()` to inspect the model.
--
Use `h2o.display.toggle_user_tips()` to switch on/off this section.