In [332]:
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np

In [262]:
df_clientes = pd.read_csv('diciembre/clientes_diciembre.csv', sep='|')
df_productos = pd.read_csv('diciembre/productos_diciembre.csv', sep='|')
df_finan = pd.read_csv('diciembre/financiacion_diciembre.csv', sep='|')
df_consumo = pd.read_csv('diciembre/consumos_diciembre.csv', sep='|')

In [263]:
print(df_productos['id'].isin(df_clientes['id']).value_counts())
print(df_finan['id'].isin(df_clientes['id']).value_counts())
print(df_consumo['id'].isin(df_clientes['id']).value_counts())

True    95467
Name: id, dtype: int64
True    24198
Name: id, dtype: int64
True    95467
Name: id, dtype: int64

In [264]:
print(len(df_clientes['id'].unique()))
print(len(df_finan['id'].unique()))
print(len(df_productos['id'].unique()))
print(len(df_consumo['id'].unique()))

95467
24198
95467
95467

In [265]:
df_total_diciembre = pd.merge(df_clientes,df_productos, on=['id'], how='left')
df_total_diciembre = pd.merge(df_total_diciembre,df_finan, on=['id'], how='left')
df_total_diciembre = pd.merge(df_total_diciembre,df_consumo, on=['id'], how='left')

In [266]:
del df_clientes
del df_productos
del df_consumo
del df_finan

In [267]:
df_total_diciembre

,id,edad,facturacion,antiguedad,provincia,num_lineas,num_dt,incidencia,conexion,vel_conexion,TV,financiacion,imp_financ,descuentos,num_llamad_ent,num_llamad_sal,mb_datos,seg_llamad_ent,seg_llamad_sal
0,1,63,216.028109,2018-11-23 08:48:00,La Rioja,5,NaN,NaN,FIBRA,50MB,tv-futbol,NaN,NaN,NaN,110,79,10897,12806,13751
1,2,84,255.830842,2017-08-22 03:19:00,Vizcaya,3,NaN,NaN,FIBRA,600MB,tv-futbol,NaN,NaN,SI,189,89,18657,6499,10862
2,3,66,135.768153,2001-12-27 13:50:00,Albacete,4,NaN,NaN,ADSL,35MB,tv-futbol,NaN,NaN,SI,129,30,15511,17013,16743
3,4,69,255.658527,2015-08-08 10:53:00,Lugo,4,NaN,NaN,FIBRA,200MB,tv-familiar,NaN,NaN,NaN,51,52,12670,3393,6771
4,5,30,22.302845,1997-08-29 02:19:00,Tarragona,2,2.0,NaN,ADSL,10MB,tv-futbol,NaN,NaN,NaN,183,3,23756,18436,4485
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95462,99995,65,173.741667,2019-03-05 00:00:00,Murcia,5,NaN,NaN,ADSL,35MB,tv-familiar,SI,23.138779,NaN,121,98,13403,6197,6853
95463,99996,36,215.890326,2013-04-09 13:33:00,Guadalajara,3,NaN,NaN,ADSL,30MB,tv-futbol,NaN,NaN,NaN,98,13,5291,3684,1667
95464,99997,68,285.890750,2003-08-08 23:57:00,Asturias,5,NaN,NaN,FIBRA,200MB,tv-futbol,SI,14.616422,NaN,226,20,20002,572,5679
95465,99998,20,383.167610,2013-03-27 20:07:00,Álava,4,NaN,NaN,ADSL,20MB,tv-futbol,NaN,NaN,NaN,126,26,16448,833,14398
95466,100000,18,57.158927,2009-10-22 19:17:00,Las Palmas,4,NaN,NaN,ADSL,25MB,tv-familiar,NaN,NaN,SI,85,25,17933,18617,2115

In [268]:
df_clientes = pd.read_csv('enero/clientes_enero.csv', sep='|')
df_productos = pd.read_csv('enero/productos_enero.csv', sep='|')
df_finan = pd.read_csv('enero/financiacion_enero.csv', sep='|')
df_consumo = pd.read_csv('enero/consumos_enero.csv', sep='|')

In [269]:
print(df_productos['id'].isin(df_clientes['id']).value_counts())
print(df_finan['id'].isin(df_clientes['id']).value_counts())
print(df_consumo['id'].isin(df_clientes['id']).value_counts())

True    92711
Name: id, dtype: int64
True    25332
Name: id, dtype: int64
True    92711
Name: id, dtype: int64

In [270]:
print(len(df_clientes['id'].unique()))
print(len(df_finan['id'].unique()))
print(len(df_productos['id'].unique()))
print(len(df_consumo['id'].unique()))

92711
25332
92711
92711

In [271]:
df_total_enero = pd.merge(df_clientes,df_productos, on=['id'], how='left')
df_total_enero = pd.merge(df_total_enero,df_finan, on=['id'], how='left')
df_total_enero = pd.merge(df_total_enero,df_consumo, on=['id'], how='left')

In [272]:
del df_clientes
del df_productos
del df_consumo
del df_finan

In [273]:
df_total_enero.shape

(92711, 19)

In [274]:
df_total_diciembre.shape

(95467, 19)

In [275]:
df_total_diciembre['id'].isin(df_total_enero['id']).value_counts()

True     88382
False     7085
Name: id, dtype: int64

In [276]:
target = df_total_diciembre['id'].isin(df_total_enero['id'])

In [277]:
target = target.replace({True:0, False:1})

In [325]:
target

0        0
1        0
2        0
3        0
4        1
        ..
95462    0
95463    0
95464    0
95465    0
95466    0
Name: id, Length: 95467, dtype: int64

In [279]:
df_total_diciembre['conjunto'] = 'diciembre'

In [280]:
df_total_enero['conjunto'] = 'enero'

In [281]:
df_total_diciembre['antiguedad'] = (pd.to_datetime('31-12-2019')- pd.to_datetime(df_total_diciembre['antiguedad'])).dt.days

In [282]:
df_total_enero['antiguedad'] = (pd.to_datetime('31-01-2020')- pd.to_datetime(df_total_enero['antiguedad'])).dt.days

In [283]:
df_total = pd.concat([df_total_diciembre, df_total_enero], axis=0)

In [284]:
df_total.reset_index(drop=True, inplace=True)

### Rellenado de nulos

In [285]:
df_total.isnull().sum()

id                     0
edad                   0
facturacion            0
antiguedad             0
provincia              0
num_lineas             0
num_dt            180835
incidencia        182613
conexion               2
vel_conexion           6
TV                     0
financiacion      175140
imp_financ        175140
descuentos        148986
num_llamad_ent         0
num_llamad_sal         0
mb_datos               0
seg_llamad_ent         0
seg_llamad_sal         0
conjunto               0
dtype: int64

In [286]:
df_total['num_dt'].value_counts()

4.0    1891
3.0    1822
1.0    1817
2.0    1813
Name: num_dt, dtype: int64

In [287]:
df_total['incidencia'].value_counts()

SI    5565
Name: incidencia, dtype: int64

In [288]:
df_total['financiacion'].fillna(0, axis=0, inplace=True)

In [289]:
df_total['imp_financ'].fillna(0, axis=0, inplace=True)

In [290]:
df_total['descuentos'].fillna(0, axis=0, inplace=True)

In [291]:
df_total['incidencia'].fillna(0, axis=0, inplace=True)

In [292]:
df_total['num_dt'].fillna(0, axis=0, inplace=True)

In [293]:
df_total['vel_conexion'].fillna(df_total['vel_conexion'].mode()[0], axis=0, inplace=True)

In [294]:
df_total['conexion'].fillna(df_total['conexion'].mode()[0], axis=0, inplace=True)

### Conversión numérica

In [305]:
df_total.dtypes

id                  int64
edad                int64
facturacion       float64
antiguedad          int64
provincia           int32
num_lineas          int64
num_dt            float64
incidencia          int64
conexion           object
vel_conexion        int32
TV                 object
financiacion        int64
imp_financ        float64
descuentos          int64
num_llamad_ent      int64
num_llamad_sal      int64
mb_datos            int64
seg_llamad_ent      int64
seg_llamad_sal      int64
conjunto           object
dtype: object

In [296]:
df_total['vel_conexion'].value_counts()

200MB    19023
600MB    18921
300MB    18672
50MB     18641
100MB    18431
20MB     15995
25MB     15952
10MB     15776
30MB     15709
35MB     15619
15MB     15436
16598        1
1            1
?            1
Name: vel_conexion, dtype: int64

In [297]:
df_total['vel_conexion'].replace('16598', '200MB', inplace=True)
df_total['vel_conexion'].replace('1', '200MB', inplace=True)
df_total['vel_conexion'].replace('?', '200MB', inplace=True)

In [298]:
df_total['vel_conexion'] = df_total['vel_conexion'].str.replace('MB', '')

In [299]:
df_total['vel_conexion'] = df_total['vel_conexion'].astype(int)

In [300]:
lista_si = ['incidencia', 'financiacion', 'descuentos']

In [301]:
for i in lista_si:
    print(i)
    print(df_total[i].value_counts())
    df_total[i].replace('SI', 1, inplace=True)
    print(df_total[i].value_counts())

incidencia
0     182613
SI      5565
Name: incidencia, dtype: int64
0    182613
1      5565
Name: incidencia, dtype: int64
financiacion
0     175140
SI     13038
Name: financiacion, dtype: int64
0    175140
1     13038
Name: financiacion, dtype: int64
descuentos
0     148986
SI     39192
Name: descuentos, dtype: int64
0    148986
1     39192
Name: descuentos, dtype: int64

In [302]:
lista_categorica = ['provincia', 'conexion', 'TV']

In [303]:
len(df_total['provincia'].unique())

50

ccaa = pd.read_html('https://es.wikipedia.org/wiki/Anexo:Provincias_y_ciudades_aut%C3%B3nomas_de_Espa%C3%B1a')[0]
ccaa = ccaa[['Nombre', 'Comunidad autónoma']]
ccaa.rename(columns = {'Nombre':'provincia'}, inplace = True)
ccaa.replace('Baleares', 'Islas Baleares', inplace=True)
df_total = pd.merge(df_total, ccaa, on=['provincia'], how='left')
df_total.drop('provincia', axis=1, inplace=True)
len(df_total['Comunidad autónoma'].unique())

In [304]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(df_total['provincia'].unique())
df_total['provincia'] = le.transform(df_total['provincia'])

In [308]:
df_conexion = pd.get_dummies(df_total['conexion'], drop_first=True)

In [310]:
df_total['FIBRA'] = df_conexion['FIBRA']

In [314]:
df_tv = pd.get_dummies(df_total['TV'])

In [316]:
df_total['tv-familiar'] = df_tv['tv-familiar'] 
df_total['tv-futbol'] = df_tv['tv-futbol'] 
df_total['tv-total'] = df_tv['tv-total']

In [318]:
df_total.dtypes

id                  int64
edad                int64
facturacion       float64
antiguedad          int64
provincia           int32
num_lineas          int64
num_dt            float64
incidencia          int64
conexion           object
vel_conexion        int32
TV                 object
financiacion        int64
imp_financ        float64
descuentos          int64
num_llamad_ent      int64
num_llamad_sal      int64
mb_datos            int64
seg_llamad_ent      int64
seg_llamad_sal      int64
conjunto           object
FIBRA               uint8
tv-familiar         uint8
tv-futbol           uint8
tv-total            uint8
dtype: object

In [319]:
df_diciembre = df_total[df_total['conjunto']=='diciembre']
df_enero = df_total[df_total['conjunto']=='enero']

In [320]:
df_diciembre.drop('conjunto', axis=1, inplace=True)
df_diciembre.drop('TV', axis=1, inplace=True)
df_diciembre.drop('conexion', axis=1, inplace=True)

C:\Python38\lib\site-packages\pandas\core\frame.py:4305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [321]:
df_enero.drop('conjunto', axis=1, inplace=True)
df_enero.drop('TV', axis=1, inplace=True)
df_enero.drop('conexion', axis=1, inplace=True)

In [324]:
df_diciembre.dtypes

id                  int64
edad                int64
facturacion       float64
antiguedad          int64
provincia           int32
num_lineas          int64
num_dt            float64
incidencia          int64
vel_conexion        int32
financiacion        int64
imp_financ        float64
descuentos          int64
num_llamad_ent      int64
num_llamad_sal      int64
mb_datos            int64
seg_llamad_ent      int64
seg_llamad_sal      int64
FIBRA               uint8
tv-familiar         uint8
tv-futbol           uint8
tv-total            uint8
dtype: object

In [327]:
len(df_diciembre['id'].unique())

95467

In [328]:
df_diciembre.set_index('id', inplace=True)

In [330]:
df_enero.set_index('id', inplace=True)

In [333]:
X_train, X_test, y_train, y_test = train_test_split (df_diciembre, 
                                                     target,
                                                     test_size = 0.2,
                                                     random_state = 0,
                                                     stratify = target)